# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chromium OS Project"
NAME = "desktopui_UrlFetch"
PURPOSE = "Verify URL loads and cookies are stored in Chrome."
CRITERIA = """
This test will fail if the URL fails to load or the cookie is not saved.
"""
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This test opens a new browser to the given URL and waits for the specified
cookie to be saved.
TODO(sosa@chromium.org) - Must find way to bring over tests from image (add
to chromium buildbot, etc).  UrlFetchTest is from ~chromium/src/chrome/test
"""

job.run_test('desktopui_UrlFetch')
