# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "firmware_ECWatchdog"
PURPOSE = "Servo based EC watchdog test"
CRITERIA = "This test will fail if EC watchdog misbehalved."
SUITE = "faft,faft_ec"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "firmware"
TEST_TYPE = "server"

DOC = """
This test check if EC watchdog is functioning correctly.
"""

def run_ecwatchdog(machine):
    host = hosts.create_host(machine)
    job.run_test("firmware_ECWatchdog", host=host, cmdline_args=args,
                 use_faft=True, disable_sysinfo=True)

parallel_simple(run_ecwatchdog, machines)
