# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME='SHORT'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = "Report the VPD content to factory."
CRITERIA = """
If the system does not have any VPD section then this test will fail.
"""
DOC = """
Identify or probe for VPD (Vendor Product Data) from EEPROM of current device,
based on section 'RO_VPD' and "RW_VPD' in FMAP structure.
"""
NAME = 'factory_LogVpd'
TEST_CLASS = "factory"
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

job.run_test('factory_LogVpd')
