# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'GPU_SAN_ANGELES'
AUTHOR = 'The Chromium OS Authors'
TIME='MEDIUM'
TEST_CATEGORY = 'Performance'
TEST_CLASS = "graphics"
TEST_TYPE = 'client'

DOC = """
This test runs the San Angeles Observation GPU benchmark.
"""

job.run_test('graphics_SanAngeles')
