AUTHOR="Kelly Lucas <kdlucas@google.com>"
NAME="System Test Suite: Functional"
TIME="LONG"
TEST_CLASS = "suite"
TEST_CATEGORY="Functional"
TEST_TYPE="CLIENT"

DOC="""\
ChromeOS System Functional test suite.

Runs a battery of functional tests.
"""
VERSION="1"

# If we need to add a any profilers, we can add them now with a statement:
# job.profilers.add(<profiler_name>)

run = run_randomly()
run.add('graphics_SanAngeles')
run.add('platform_DaemonsRespawn')
run.add('login_AuthenticationEvnVarsTests')
run.add('login_AuthenticationTests')
run.add('login_PamModuleLoadTest')
run.add('network_DhclientLeaseTestCase')
run.add('network_DisableInterface')
run.add('network_WifiAuthenticationTests')
run.add('platform_NoOpenFilesAtShutdown')
run.add('platform_UnmountCleanlyAtShutdown')
run.add('platform_AccurateTime')
run.add('ui_ChromeKillRestart')
run.add('desktopui_ScreenSaverRunning')

# Run the tests here
run.run(job.run_test)
