# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "KernelCrashServer"
TIME = "SHORT"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "platform"
TEST_TYPE = "server"

DOC = """
This test crashes the client and verifies the kernel crash was collected.

Fails if any of the following conditions occur:
  - kernel does not support crash dumping
  - kernel crash dump doesn't appear after crash
  - crash dump does not appear to be correct
  - crash report is not sent properly
"""

def run_it(machine):
    host = hosts.create_host(machine)
    job.run_test("logging_KernelCrashServer", host=host)

parallel_simple(run_it, machines)
