AUTHOR = "Chrome OS Team"
NAME = "platform_DiskIterate"
PURPOSE = "Verify DeviceKit-disks daemon is running an 1 disk is present."
CRITERIA = """
This test will fail if DeviceKit-disks does not find at least 1 disk.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "Platform"
TEST_TYPE = "client"

DOC = """
This test checks whether the DeviceKit-disks daemon can be reached and if at
least one disk can be found.
"""

job.run_test('platform_DiskIterate')
