# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'hardware_UsbPlugIn'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify USB device is properly detected.'
CRITERIA = 'FailNs if device is not detected after it is plugged in.'
TIME='SHORT'
TEST_CATEGORY = 'Functional'
TEST_CLASS = "hardware"
TEST_TYPE = 'client'

DOC = """
This test checks if the system detects a USB device after plugging in.
"""

job.run_test('hardware_UsbPlugIn')
