AUTHOR = "kdlucas@chromium.org (Kelly Lucas)"
DOC = "Verifies permissions on various file systems."
NAME = "FILE_ReadOnly_TEST"
TIME = "SMALL"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

job.run_test('filesystem_Perms')
