# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Project"
NAME = "network_NavigateToURL"
PURPOSE = "To verify the device successfully can navigate to a URL."
CRITERIA = """
This test will fail if it does not successfully navigate to the indicated url.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"
DOC = """
The purpose of this test is to use chrome to navigate to a URL and verify it is
successful over the indicated technology type.
"""

from autotest_lib.client.common_lib import utils

job.run_test('network_NavigateToUrl', **utils.args_to_dict(args))
