# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "Smoke"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "client"

DOC = """
This test suite runs smoke tests on each build from the buildbots. The tests
listed here must be capable of running in a virtual machine.
"""

job.run_test('build_RootFilesystemSize')
# crosbug.com/20024
# job.run_test('desktopui_ChromeFirstRender')
job.run_test('desktopui_UrlFetch', live=False, tag='not-live')

# desktopui_FlashSanityCheck is taken out temporarily because it causes
# Chrome GPU process to crash on VM. See http://crosbug.com/15860.
# It will be put back once that gets fixed.
# job.run_test('desktopui_FlashSanityCheck')

job.run_test('desktopui_KillRestart', binary='^chrome$', tag='chrome')
job.run_test('desktopui_KillRestart', binary='^session_manager$', tag='session')
job.run_test('desktopui_ScreenLocker')
job.run_test('desktopui_WindowManagerFocusNewWindows')
job.run_test('logging_CrashSender')
job.run_test('logging_UserCrash')
job.run_test('login_BadAuthentication')
job.run_test('login_CryptohomeIncognitoMounted')
job.run_test('login_CryptohomeMounted')
job.run_test('login_CryptohomeIncognitoUnmounted')
job.run_test('login_CryptohomeUnmounted')
job.run_test('login_LoginSuccess', tag='default')
job.run_test('login_OwnershipApi')
job.run_test('platform_FilePerms')
job.run_test('platform_OSLimits')
job.run_test('security_ProfilePermissions', creds='$default', tag='login')
job.run_test('security_ProfilePermissions', creds=None, tag='BWSI')

###  Local Variables:
###  mode: python
###  End:
