# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'platform_MiniJailReadOnlyFS'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify MiniJail sets /proc to read only mode.'
CRITERIA = 'Fails if /proc is not read only.'
TIME='SHORT'
TEST_CATEGORY = 'Security'
TEST_CLASS = 'platform'
TEST_TYPE = 'client'

DOC = """
This test checks that MiniJail sets /proc read-only.
"""

job.run_test('platform_MiniJailReadOnlyFS')
