# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "login_LogoutProcessCleanupTelemetry"
PURPOSE = "Verify all chronos owned processes are destroyed at logout."
CRITERIA = "Fails if a process started by chronos is running after logout."
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "login"
TEST_TYPE = "client"
EXPERIMENTAL = "True"
# TODO(achuith, dennisjeffrey): Replace login_LogoutProcessCleanup with
# this once this test is promoted to non-experimental.

DOC = """
This tests that all processes owned by chronos are destroyed on logout.
"""

job.run_test('login_LogoutProcessCleanupTelemetry')

