# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
TIME='MEDIUM'
AUTHOR = 'The Chromium OS Authors'
DOC = """
External storage test suite.

Tests external storage (USB flash drive / card reader with SD-card inserted)
performance using several benchmark tools.
"""
NAME = 'hardware_ExternalDrives'
PURPOSE = 'Benchmark external storage devices.'
CRITERIA = 'This test is a benchmark.'
TEST_CLASS = 'hardware'
TEST_CATEGORY = 'Performance'
TEST_TYPE = 'client'
VERSION = '1'

job.run_test('hardware_ExternalDrives')
