{% comment %}

Copyright 2012 Google Inc. All Rights Reserved.

This template builds an email with details of test(s) that failed.
{% endcomment %}
<html>
<body>
A recent <b>{{ tpl_board }}</b> build, <b>{{ tpl_build }}</b>, running on
<b>{{ tpl_netbook }}</b>, has {% block status_block %}{% endblock %}
testing. Please read through the information below and take action
accordingly.<p>

Full test logs are available through status links in the tables below. While the
test source code can be accessed by clicking the test name.<p>

<ul>
<li>
<a href="http://goto/chromeos-dash/{{ tpl_netbook }}/{{ tpl_board }}/bvt.html">
Click here for the Chrome OS test dashboard to check historical results.</a>
</li>
<li>
<a href="{{ tpl_images_link }}">Click here for the build logs and image
binaries.</a>
</li>
{% if tpl_changelog_link %}
<li>
<a href="{{ tpl_changelog_link }}">Click here for the list of Chrome OS changes
between this build and the last build these tests ran on.</a>
</li>
{% endif %}
{% if tpl_chrome_changelog_link %}
<li>
<a href="{{ tpl_chrome_changelog_link }}">Click here for the list of Chrome
changes between this build and the last build these tests ran on.</a>
</li>
{% endif %}
</ul>
{% block fail_table_block %}{% endblock %}

Sincerely,<br>
Your test farm friends<br>
From Mountain View, CA<br>
<br>
<small>[<a
href="https://groups.google.com/a/google.com/forum/?fromgroups#!topicsearchin/chromeos-automated-test-failures/%22{{ tpl_subject|urlencode }}%22">permalink</a>]</small>
</body>
</html>
