AUTHOR = "kdlucas@chromium.org (Kelly Lucas)"
DOC = "Verifies permissions on various file systems."
NAME = "platform_FilePerms"
PURPOSE = "Verify permissions are correct on system files and directories."
CRITERIA = """
This test will fail if it finds unexpected permissions on system files or
directories.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

job.run_test('platform_FilePerms')
