# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "DBUS_CALLS"
PURPOSE = "Verify session manager dbus acts as expected."
CRITERIA = "Test will fail if restartentd does not act as expected."
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "login"
TEST_TYPE = "client"

DOC = """
Verify session manager dbus acts as expected.
"""

job.run_test('login_DBusCalls')

