# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "realtimecomm_GTalkunittest"
TIME = "LONG"
TEST_CATEGORY = "GTalk"
TEST_CLASS = "RealTimeComm"
TEST_TYPE = "client"

DOC = """
This runs Google Talk Plugin unittests
"""

job.run_test('realtimecomm_GTalkunittest')
