# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.client.common_lib import utils

AUTHOR = "Chrome OS Team"
NAME = "factory_BasicCellular"
SUITE = "factory"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "factory"
TEST_TYPE = "client"

DOC = """

Connects to the modem, checking the IMEI and ICCID.

Required arguments:

    imei_re: The regular expression of expected IMEI.
    iccid_re: The regular expression of expected ICCID.

Optional arguments:

    dev: Path to the modem. Default to /dev/ttyUSB0.
"""

job.run_test('factory_BasicCellular', **utils.args_to_dict(args))
