# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "platform_Mosys"
PURPOSE = "Exercise all mosys command, return value are not checked."
CRITERIA = """
Fails if executing any leaf sub-command returns a non-zero status code
(except ENOSYS and EINVAL). Return values are not checked for correctness.
"""
SUITE = "faft,faft_bios"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This test tests on the mosys command, and will rasie a test error if executing
any leaf sub-command returns a non-zero status code (except ENOSYS and EINVAL).
"""

job.run_test('platform_Mosys')
