# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.client.common_lib import utils

AUTHOR = "Chrome OS Team"
NAME = "factory_Connector"
SUITE = "factory"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "factory"
TEST_TYPE = "client"

DOC = """
Connectivity factory test.

Required arguments: None.
"""

job.run_test('factory_Connector', **utils.args_to_dict(args))
