# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'hardware_DataIntegrity'
AUTHOR = 'jcasse, grundler'
PURPOSE = 'Perform data integrity test on unmounted partition on SSD storage.'
TIME = 'LENGTHY'
TEST_TYPE = 'client'
SUITE = 'storagequal'

DOC = """
This test checks correctness and retention of data.

"""

job.run_test('hardware_DataIntegrity')
