# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "BVT"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "server"

DOC = """
This test suite runs automated tests that should all pass and that verify
that a build has some minimal functionality.  These are meant to run quickly
in less than 30 minutes and should maximize coverage.
"""

client = hosts.create_host(machines[0])
client_at = autotest.Autotest(client)

# Run server tests

job.run_test("platform_BootPerfServer", host=client)

# Run parameter-less simple client tests

# All client tests whose default parameters are adequate
TESTS = [
  'platform_FilePerms',
  'platform_DaemonsRespawn',
  'login_AuthenticationTests',
  'login_PamModuleLoadTest',
  'hardware_MemoryTotalSize',
  'power_Resume',
  'platform_Shutdown',
  'network_WiFiCaps',
  'platform_NoOpenFilesAtShutdown',
  'platform_UnmountCleanlyAtShutdown',
  'hardware_DiskSize',
  'hardware_SsdDetection',
  'platform_AccurateTime',
  'desktopui_DoLogin',
  'desktoupi_ChromeFirstRender',
  'platform_KernelVersion',
  'power_Status',
  'build_RootFilesystemSize',
]

for test in TESTS:
  client_at.run_test(test)

# Run jobs with specific parameters
client_at.run_test('network_DisableInterface',
                   iface_name='eth0', tag='eth0')
client_at.run_test('network_DisableInterface',
                   iface_name='wlan0', tag='wlan0')
# TODO(petkov): If Bluetooth is not available on the platform, this test will
# fail. Fix this once we have a way to run platform-dependent tests.
client_at.run_test('network_DisableInterface',
                   iface_name='hci0', tag='hci0')
client_at.run_test('hardware_MemoryThroughput', num_iteration=1, test_list='18')
client_at.run_test('hardware_SAT', seconds=20)
