# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "BVT"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "server"

DOC = """
This test suite runs automated tests that should all pass and that verify
that a build has some minimal functionality.  These are meant to run quickly
in less than 30 minutes and should maximize coverage.
"""

client = hosts.create_host(machines[0])
client_at = autotest.Autotest(client)


#
# Run server tests
#


job.run_test("platform_BootPerfServer", host=client)
job.run_test("platform_KernelErrorPaths", host=client)


#
# Run client tests that do not require specific parameters
#

# All client tests whose default parameters are adequate
TESTS = [
  'build_RootFilesystemSize',
  'desktopui_ChromeFirstRender',
  'desktopui_IBusTest',
  'desktopui_ScreenSaverUnlock',
  'desktopui_WindowManagerFocusNewWindows',
  'desktopui_WindowManagerHotkeys',
  'hardware_Backlight',
  'hardware_DiskSize',
  'hardware_MemoryTotalSize',
  'hardware_SsdDetection',
  'hardware_VideoOut'
  'login_AuthenticationTests',
  'login_PamModuleLoadTest',
  'network_WiFiCaps',
  'platform_AccurateTime',
  'platform_DaemonsRespawn',
  'platform_DiskIterate',
  'platform_FilePerms',
  'platform_KernelVersion',
  'platform_NoOpenFilesAtShutdown',
  'platform_Shutdown',
  'platform_UnmountCleanlyAtShutdown',
  'power_Resume',
  'power_Status',
]

for test in TESTS:
  client_at.run_test(test)


#
# Run client tests with specific parameters
#


# Run login tests, local first, then remote login
client_at.run_test('desktopui_DoLogin',
                   script='backdoor_creds.json',
                   tag='local')
client_at.run_test('desktopui_DoLogin',
                   script='autox_script.json',
                   tag='remote')

client_at.run_test('desktopui_FailedLogin', script='bad_creds.json')

client_at.run_test('desktopui_KillRestart',
                   binary='^session_manager$',
                   tag='session')
client_at.run_test('desktopui_KillRestart', binary='^chrome$', tag='chrome')

client_at.run_test('hardware_MemoryThroughput', num_iteration=1, test_list='18')

client_at.run_test('hardware_SAT', seconds=20)

client_at.run_test('login_CryptohomeMounted', tag='success')

# Check volume of logging, and expect less than 50% of this machine's
# stateful partition is used.  Also make sure there's not a serious
# problem with the patterns being too permissive by assuming most were
# required.
client_at.run_test('logging_LogVolume',
                  constraints=['percent_stateful_used <= 50',
                               'percent_unused_patterns <= 70'])

client_at.run_test('network_DisableInterface',
                   iface_name='eth0', tag='eth0')
client_at.run_test('network_DisableInterface',
                   iface_name='wlan0', tag='wlan0')
# TODO(petkov): If Bluetooth is not available on the platform, this test will
# fail. Fix this once we have a way to run platform-dependent tests.
client_at.run_test('network_DisableInterface',
                   iface_name='hci0', tag='hci0')

# Run process tests
test_name = 'platform_ProcessPrivileges'
process_tests = [
  {'process': 'candidate_window', 'user': 'chronos', 'do_login': True},
  {'process': 'chrome'},
  {'process': 'ibus-daemon', 'user': 'chronos', 'do_login': True},
  {'process': 'ibus-memconf', 'user': 'chronos', 'do_login': True},
  {'process': 'ibus-x11', 'user': 'chronos', 'do_login': True},
  # TODO(yusukes): Change 'run_as_root' to False once super-user privileges for
  # X are dropped.
  {'process': 'X', 'run_as_root': True},
]

for process_test in process_tests:
  client_at.run_test(test_name, tag=process_test['process'], **process_test)

