NAME = 'hardware_bam150'
AUTHOR = 'Chromium OS Authors'
PURPOSE = 'Verify the Bosch BMA150 interface is supported.'
CRITERIA = 'Fails if the bam150 kernel module is not loaded.'
TIME = 'SHORT'
TEST_CLASS = 'Hardware'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'Client'
DOC = """
bma150 is a user space program that tests the interface provided
by the bma150 kernel module for controlling the Bosch BMA150
digital, triaxial accelerometer.
"""

job.run_test('hardware_bma150')
