# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "network_WiFiSmokeTest"
PURPOSE = "Verify we can connect to available routers."
CRITERIA = """
Fail if any of the following conditions occur:
  - times out attempting to connect to a router
  - gets an exception attempting to connect to a router
  - fails to connect to a router in the router list
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
  Tests that we can connect to the routers specified in wifi_router_list

  The test attempts to connect to each router using the given security,
  setup Layer 3 state (e.g. acquire a DHCP lease), and optionally ping
  a host known to be reachable through that router.
"""

job.run_test('network_WiFiSmokeTest',
    wifi_router_list=os.path.join(job.configdir, "wifi_router_list"))
