# Copyright 2015 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'wiley, avakulenko'
NAME = 'privetd_BasicDBusAPI'
TIME = 'SHORT'
TEST_TYPE = 'client'
ATTRIBUTES = "suite:smoke, suite:tendo_experimental"
SUITE = 'tendo_experimental, smoke'

DOC = """
Check that basic DBus API calls to the privetd daemon return expected responses.
"""


job.run_test('privetd_BasicDBusAPI')
