# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.client.common_lib import utils

AUTHOR = "sbasi, chromeos-lab-infrastructure@google.com"
NAME = "adb_Reboot"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "adb"
TEST_TYPE = "server"

DOC = """
This server side test suite tests the ADB Reboot functionality.
"""

args_dict = utils.args_to_dict(args)

def run_benchmark(machine):
    device_hostname = args_dict.get('device_hostname')
    host = hosts.create_host(machine,
                             device_hostname=device_hostname)
    job.run_test("adb_Reboot", host=host)


parallel_simple(run_benchmark, machines)
