# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'platform_MiniJailPtraceDisabled'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify MiniJail can disable ptrace.'
CRITERIA = 'Fails if ptrace is not disabled by MiniJail.'
TIME='SHORT'
TEST_CATEGORY = 'Security'
TEST_CLASS = 'platform'
TEST_TYPE = 'client'

DOC = """
This test checks that MiniJail disables ptrace tracing.
"""

job.run_test('platform_MiniJailPtraceDisabled')
