# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "network_DhcpRenew"
PURPOSE = "Verify shill correctly handles lease timeouts through dhcpcd"
SUITE = "network_nightly"
CRITERIA = """
This test fails if shill ignores the T1, T2, or lease timeouts.  Since
the logic handling these timeouts is handled through dhcpcd, this tests
some of the interraction between shill and dhcpcd.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
  Tests that shill can renew leases through dhcpcd, and deconfigures an
  interface when the DHCP server does not renew the license.
"""

job.run_test('network_DhcpRenew')
