# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
DOC = "Verifies we can ping internal and external hosts."
NAME = "network_Ping"
PURPOSE = "Verify networked hosts respond to ping."
CRITERIA = "Fails if www.google.com or default gateway fail to respond to ping."
SUITE = "bvt"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

job.run_test('network_Ping')
