# Copyright (C) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'vivek.dasmohapatra@collabora.co.uk'
NAME = 'network_WWANActivate'
PURPOSE = 'Check that the WWAN device comes up after a suspend/resume'
CRITERIA = 'Works with the Gobi 3k - the 2k in the ZGB is not supported'
SUITE = 'hwqual'
TIME = 'SHORT'
TEST_CATEGORY = 'Functional'
TEST_CLASS = 'network'
TEST_TYPE = 'client'

DOC = '''
Tests whether the WWAN device comes up within a reasonable time limit
after a suspend/resume cycle.
'''

args = utils.args_to_dict(args)
deadline = float(args.get('deadline', 3.0)) # seconds
interface = args.get('interface', 'wwan0') # 'wwan0' et al
repeat = int(args.get('repeat', 3))

job.run_test('network_WWANActivate',
             interface=interface,
             deadline=deadline,
             repeat=repeat)

