# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'hardware_USB20'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify a USB device is driven with the USB 2.0 protocol.'
CRITERIA = 'Fails if device is not detected or if it is not seen as USB 2.0'
TIME='SHORT'
TEST_CATEGORY = 'Functional'
TEST_CLASS = "hardware"
TEST_TYPE = 'client'

DOC = """
This test checks if the system supports USB 2.0 for the attached 2.0 device.
"""

job.run_test('hardware_USB20')
