# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "enterprise_Policies"
PURPOSE = "Enterprise enrollment and managed user sign-in functionality."
CRITERIA = "Status updated correctly by enterprise enrollment & sign in."
SUITE = "bvt, smoke"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "Enterprise"
TEST_TYPE = "client"
EXPERIMENTAL = "True"

DOC = """
These tests verify that enterprise enrollment and managed user sign-in have
the required affect on the TPM, as well as attribute, policy, and key files.
"""

job.run_test('enterprise_Policies')
