# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'platform_MiniJailCmdLine'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify that MiniJail command line args are passed correctly.'
CRITERIA = """
Fails if passed arguments do not match the args of MiniJail command line.
"""
TIME='SHORT'
TEST_CATEGORY = 'Security'
TEST_CLASS = 'platform'
TEST_TYPE = 'client'

DOC = """
This test checks that MiniJail passes the command line properly.
"""

job.run_test('platform_MiniJailCmdLine')
