# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "TPM_NV_TEST"
AUTHOR = "Chromium OS Team"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "Hardware"
TEST_TYPE = "Client"

DOC = """
  Tests for tpm NVRAM functionality.
"""

job.run_test('hardware_tpmNV')
