# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'hardware_Trackpad'
AUTHOR = 'Chromium OS Authors'
PURPOSE = 'Verify the functionalities of a trackpad driver.'
CRITERIA = 'Fails if the performance does not meet a specified requirement.'
TIME = 'SHORT'
TEST_CLASS = 'Hardware'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'Client'

DOC = """
This test uses utouch-evemu to replay trackpad packet data, and xev to
capture the resultant X events. The X events are verified against the
criteria specified for corresponding functionalities.
"""

job.run_test('hardware_Trackpad')
