# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME='SHORT'
AUTHOR = 'Chromium OS'
DOC = """
This test is the setup step for:
server/autoupdate_Host
server/autoupdate_Loop

It prepares the client for autoupdate by overriding the auserver
and devsever value in stateful lsb-release.
"""

NAME = 'autoupdate_SetUp'
PURPOSE = 'Set up client for autoupdate.'
CRITERIA = 'Do not run this test. Run server/autoupdate_Host.'
TEST_CLASS = 'platform'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

job.run_test('autoupdate_SetUp')
