AUTHOR = "Chrome OS Team"
NAME = "Connman Include and Exclude Multiple Devices"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
This test checks whether the --device (-i) and --nodevice (-I) options
to Connman accepts can be repeated (-I eth1 -I wlan0 ...).

NOTE: The device needs to be reachable via a backdoor interface named
'eth1' (usually a USB Ethernet adapter) as the test will cause
connman to take control of all other interfaces.
"""

job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=[], nodevs=[],
             excluded=[], included=['wlan0','eth0'],
             tag='baseline')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=[], nodevs=['eth0'],
             excluded=['eth0'], included=['wlan0'],
             tag='exclude-eth')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=[], nodevs=['eth0','wlan0'],
             excluded=['eth0','wlan0'], included=[],
             tag='exclude-eth0-and-wlan0')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=[], nodevs=['eth*','wlan*'],
             excluded=['eth0','wlan0'], included=[],
             tag='exclude-all-eth-and-wlan')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=[], nodevs=['*'],
             excluded=['eth0','wlan0'], included=[],
             tag='exclude-all')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=[], nodevs=['wlan*'],
             excluded=['wlan0'], included=['eth0'],
             tag='exclude-all-wlan')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=['eth0'], nodevs=[],
             excluded=['wlan0'], included=['eth0'],
             tag='eth0-only')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=['eth*'], nodevs=[],
             excluded=['wlan0'], included=['eth0'],
             tag='eth0-only-glob')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=['*'], nodevs=[],
             excluded=[], included=['eth0', 'wlan0'],
             tag='include-all-glob')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=['eth0', 'wlan0'], nodevs=[],
             excluded=[], included=['eth0', 'wlan0'],
             tag='include-eth0-and-wlan0')
job.run_test('network_ConnmanIncludeExcludeMultiple',
             devs=['*'], nodevs=['blah.*'],
             excluded=[], included=['eth0', 'wlan0'],
             tag='include-all-glob-bogus-nodev')
