# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Daniel Erat <derat@chromium.org>"
NAME = "desktopui_WindowManagerFocusNewWindows"
PURPOSE = "Verify that new windows get focused."
CRITERIA = "Fail if the _NET_ACTIVE_WINDOW X property is unset."
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
Test that the window manager updates the _NET_ACTIVE_WINDOW X property when
focusing new windows.
"""

job.run_test('desktopui_WindowManagerFocusNewWindows')
