# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Daniel Erat <derat@chromium.org>"
NAME = "desktopui_WindowManagerFocusNewWindows"
PURPOSE = "Verify that new windows are in focus."
CRITERIA = "
Fail if the active window is not in focus, or if the test times out.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
Test that the window manager focuses and maximizes new windows.

It also checks that we're able to cycle between windows using hotkeys.
"""

job.run_test('desktopui_WindowManagerFocusNewWindows')
