# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "network_WiFiChaosPSK"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "server"

DOC = """
This script iterates through all of the access points in the Chaos lab that
support the PSK security.  This test must be run in the Chaos lab.
"""

from autotest_lib.server import packet_capture

def wifi_chaos_psk(machine):
    host = hosts.create_host(machine)

    with packet_capture.PacketCaptureManager() as capturer:
        capturer.allocate_packet_capture_machine()
        job.run_test('network_WiFiChaosPSK', host=host, tries=10,
                     capturer=capturer, disable_sysinfo=False)

parallel_simple(wifi_chaos_psk, machines)
