# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "WebRTC Team"
NAME = "desktopui_WebRtcBrowserTest"
SUITE = "webrtc"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
Run webrtc browser tests.
"""

job.run_test('desktopui_WebRtcBrowserTest')
