# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'hardware_MemoryThroughput'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Benchmark sequential and random access mode memory throughput.'
CRITERIA = 'This test is a benchmark.'
SUITE = "kernel_daily_benchmarks, hwqual"
TIME='MEDIUM'
TEST_CATEGORY = 'Performance'
TEST_CLASS = "hardware"
TEST_TYPE = 'client'

DOC = """
This test will use a binary (compiled) program called hardware_MemoryThroughput.
This program will write tables of data using sequential and random access mode,
and uses C standard library functions memcpy and memset.
"""

job.run_test('hardware_MemoryThroughput', num_iteration=2500, test_list='21')
