# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "PyAuto Perf"
SUITE = "pyauto_perf,link_perf"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "server"

DOC = """
This server side test suite wraps the client-side PyAuto-based performance
tests and uploads the performance result values to google storage so that
they can be displayed easily on the performance dashboard. This is part of
our effort to support Chrome for Chrome OS performance testing.
"""

def run_pyautoperftests(machine):
    host = hosts.create_host(machine)
    job.run_test("desktopui_PyAutoPerf", host=host, args=args)


parallel_simple(run_pyautoperftests, machines)
