# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "sque"
NAME = "graphics_LibDRM"
PURPOSE = 'Verify libdrm is working correctly by running libdrm test apps.'
CRITERIA = """
If one or more of the libdrm test apps fails, this autotest will fail.
"""
TIME = "FAST"
TEST_CATEGORY = "Functional"
TEST_CLASS = "bvt, graphics"
TEST_TYPE = "client"

SUITE = "graphics"
EXPERIMENTAL = "True"

DOC = """
Runs libdrm test apps.
"""

job.run_test('graphics_LibDRM')
