# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "cellular_Dummy"
PURPOSE = ""
CRITERIA = ""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = ""

from autotest_lib.client.cros.cellular import labconfig

job.run_test('cellular_Dummy', config=labconfig.get_test_config(args))
