AUTHOR = "Eric Li <ericli@chromium.org>"
NAME = "AutotestClientSetup"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"
TIME = "MEDIUM"
DOC="""Setup a bunch of autotest tests into a platform dependent chromeos build
(chroot) environment.
"""

from autotest_lib.client.bin import setup_job

setup_job.initialize(job)

# include all tests here.
chromeos_tests = [
    'compilebench',
    'dbench',
    'disktest',
    'gl_APICheck',
    'ltp',
    'memory_Throughput',
    'unixbench',
    'storage_Fio',
    'storage_SsdDetection',
    'system_SAT',
]
failed_tests = []

for cros_test in chromeos_tests:
    # Try to build all tests even though some fail
    
    try:
        setup_job.setup_test(cros_test, job)
    except CmdError, e:
        failed_tests.append(cros_test)

print ''
print '########################## SUMMARY #####################################'

# Print out tests that failed
if (len(failed_tests) > 0):
    print 'Finished building -- The following tests failed'
    for failed_test in failed_tests:
        print failed_test    
else:
     print 'Finished building -- All tests built successfully'
print '######################### END SUMMARY ##################################'
print ''
