# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME='MEDIUM'
AUTHOR = 'The Chromium OS Authors'
DOC = """
System stress test
"""
NAME = 'system_sat'
TEST_CLASS = 'Hardware'
TEST_CATEGORY = 'Stress'
TEST_TYPE = 'client'

job.run_test('system_sat')
