# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chromium OS"
NAME = "Auto Update Host"
TIME = "MEDIUM"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "server"

DOC = """

"""

from autotest_lib.server import frontend

vers = 'cros-version-'
try:
    from autotest_lib.server.cros import dynamic_suite
    vers = dynamic_suite.VERSION_PREFIX
except:
    pass

AFE = frontend.AFE(debug=False)

def clear_version_labels(machine):
    labels = AFE.get_labels(name__startswith=vers)
    for label in labels: label.remove_hosts(hosts=[machine])


def run(machine):
    clear_version_labels(machine)
    host = hosts.create_host(machine, initialize=False)
    if job.run_test('autoupdate', host=host, update_url=image_url):
        label = AFE.get_labels(name=vers+image_name)[0]
        label.add_hosts([machine])


job.parallel_simple(run, machines)
