# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME="SHORT"
AUTHOR = "The Chromium OS Authors"
DOC = """
Ensures appropriate permissions on data within the chronos profile.
"""
NAME = "security_ProfilePermissions"
PURPOSE = "Protect the security boundary enforced by filesystem permissions"
CRITERIA = """
Fail if there are any files or directories writable by group/other in ~.
"""
SUITE = "security"
TEST_CLASS = "security"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"

job.run_test("security_ProfilePermissions", creds='$default', tag='login')
job.run_test("security_ProfilePermissions", creds=None, tag='BWSI')
