# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "login_CryptohomeMountedTelemetry"
PURPOSE = "Verify the cryptohome is mounted after login."
CRITERIA = "This test will fail if cryptohome is not mounted after login."
SUITE = "bvt"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "login"
TEST_TYPE = "client"
RETRIES = 5
EXPERIMENTAL = "True"

DOC = """
This test checks that, after logging in successfully, a cryptohome was mounted.
"""

job.run_test('login_CryptohomeMountedTelemetry')
