# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "power_FlashVideoSuspend"
SUITE = "kernel_per-build_regression"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "power"
TEST_TYPE = "client"

DOC = """
Suspends the system with a video playing.

This version plays a video using the flash plugin.
"""

job.add_sysinfo_logfile('/sys/kernel/debug/suspend_stats', on_every_test=True)
job.run_test('power_FlashVideoSuspend')
