# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "harpreet@chromium.org"
NAME = "enterprise_CFM_Sanity"
TIME = "SHORT"
TEST_CATEGORY = "Enterprise"
TEST_CLASS = "enterprise"
TEST_TYPE = "client"

DOC = """
This test runs a series of test actions and performs verifications to make sure
CFM enrolled devices behave as expected.
"""

job.run_test('enterprise_CFM_Sanity')
