# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "Manufacturing"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "client"

DOC = """
This test suite runs automated client-side manufacturing tests.
"""

# Qualified Component Check
job.run_test('platform_Components',
    approved_db='/usr/local/manufacturing/qualified_components')

