# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_GTK2Config"
PURPOSE = "Test correctness of qemu generated gtk2 config files."
CRITERIA = """
Fails if gtk2 config files generated on target are not identical to the
existing ones.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
Runs gtk-query-immodules-2.0 and gdk-pixbuf-query-loaders to generate new
config files and compares them to the existing ones.
"""

job.run_test('desktopui_GTK2Config')
