# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'The Chromium OS Authors'
NAME = 'AUDIOVIDEO_PLAYBACKCAPTURE'
TIME='MEDIUM'
TEST_CATEGORY = 'PLAYBACKCAPTURE'
TEST_CLASS = 'AudioVideo'
TEST_TYPE = 'client'

DOC = """
This is a semi-automated test that exercises the audio devices on the system.
Playback, recording, and mixers are tested.
"""

job.run_test('audiovideo_PlaybackRecordSemiAuto')
