# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.client.common_lib import utils

AUTHOR = "Chrome OS Team"
NAME = "platform_InstallTestImage"
TIME = "MEDIUM"
TEST_CATEGORY = "Install"
TEST_CLASS = "platform"
TEST_TYPE = "server"

DOC = """
This test installs a specified test image onto a servo-connected DUT.
The principle purpose is to allow installing a known-good image onto
a wedged unit that would otherwise have to be re-imaged manually.

Here is the command to install a recovery image with a locally attached
servo:
    run_remote_tests --args="image=$IMAGE_PATH" \
                     --servo --remote=$IP_ADDRESS --board=$BOARD \
                     platform_InstallTestImage
"""

args_dict = utils.args_to_dict(args)
image = args_dict.get("image", None)
servo_host = args_dict.get("servo_host", "localhost")
servo_port = args_dict.get("servo_port", None)

def run(machine):
    # Setup the client machine.
    host = hosts.create_host(machine, servo_host=servo_host,
                             servo_port=servo_port)
    job.run_test("platform_InstallTestImage", host=host,
                 disable_sysinfo=True, image=image)

parallel_simple(run, machines)
