# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'NVMap Carveout Compactor Test'
AUTHOR = 'NVIDIA'
PURPOSE = 'This test allocates and fragments carveout to verify compaction.'
CRITERIA = """
This test passes if no errors occur during the test run.
"""
TIME='MEDIUM'
TEST_CATEGORY = 'Performance'
TEST_CLASS = "kernel"
TEST_TYPE = 'client'

DOC = """
This test does repeated allocations and frees purposely fragmenting carveout
before doing larger allocations to force compaction to be done.
"""

job.run_test('kernel_NVMapCompactor');
