# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "pstew@chromium.org"
NAME = "network_DhcpWpadNegotiation"
PURPOSE = "Verify DHCP negotion for Web Proxy Auto Discovery succeeds"
SUITE = "bvt, network_nightly"
CRITERIA = """
This test fails if dhcpcd is unable to negotiate a DHCP lease, or
if shill fails to report the WPAD parameter sent by the server.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
  Tests that we can negotiate a lease on an IPv4 address via DHCP from
a server that provides the Web Proxy Auto Discovery option.

"""

job.run_test('network_DhcpWpadNegotiation')
