# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "platform_CloseOpenLid"
PURPOSE = "Servo based ChromeOS functional tests."
CRITERIA = "This test will fail if ChromesOS does not respond to a ping."
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "server"

DOC = """
This test uses servo to simulate lid close and open events. Device state is
verified by pinging."""

def run_closeopenlid(machine):
    host = hosts.create_host(machine)
    job.run_test("platform_CloseOpenLid", host=host, cmdline_args=args,
                 disable_sysinfo=True)

parallel_simple(run_closeopenlid, machines)
