# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "login_RemoteLogin"
PURPOSE = "Verify login succeeds against the live Google Accounts server."
CRITERIA = "Test will fail if login fails for any reason."
SUITE = "regression"
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "login"
TEST_TYPE = "client"

DOC = """
This tests that the system can through the login manager, using the live
Google Accounts servers  
"""

job.run_test('login_RemoteLogin')

