# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'The Chromium OS Authors'
NAME = 'audiovideo_CRASFormatConversion'
PURPOSE = 'Test playing audio with the CRAS test client.'
CRITERIA = """
Check that converting between different sample rates doesn't crash.
"""
TIME='LONG'
TEST_CATEGORY = 'PLAYBACKCAPTURE'
TEST_CLASS = "audiovideo"
TEST_TYPE = 'client'

job.run_test('audiovideo_CRASFormatConversion')
