# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "kdlucas@chromium.org (Kelly Lucas)"
DOC = "Determines if the current screen resolution is supported."
NAME = "VideoResolution"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "hardware"
TEST_TYPE = "client"

job.run_test('hardware_Resolution')
