AUTHOR = "ChromeOS Team"
DOC = "Checks whether dhclient can save its lease file."
NAME = "network_DhclientLeaseTestCase"
PURPOSE = "Verify dhclient can save its lease file"
CRITERIA = "Fails if it is unable to update the lease file."
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

job.run_test('network_DhclientLeaseTestCase')
