# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "SuspendResumeStress"
TIME = "LONG"
TEST_CATEGORY = "Stress"
TEST_CLASS = "network"
TEST_TYPE = "server"

DOC = """
This test runs through a stress of suspend/resume and checks the status of the
modem afterwards.  When the test completes, the DUT is rebooted.
"""

def run_bootdevice(machine):
    client = hosts.create_host(machine)
    client_at = autotest.Autotest(client)

    client_at.run_test('network_3GSuspendResume', host=client, iterations=100,
                       scenarios='stress')
    client.reboot()

parallel_simple(run_bootdevice, machines)
