# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "METRICS_RESUME"
TIME = "SHORT"
TEST_CATEGORY = "Logging"
TEST_CLASS = "system"
TEST_TYPE = "client"

DOC = """
This test measures the amount of time it takes to resume from suspend
"""

job.run_test('metrics_Resume')
