{% extends "tables/base.html" %}
{% comment %}

Copyright 2012 Google Inc. All Rights Reserved.

This template builds a page to show the emails produced for the Chrome OS
Test Dashboard.

It's a combination of our existing summary header plus to iframe panels:
one planel to show test emails and the other to show performance emails.
{% endcomment %}
{% block title %}ChromeOS Test Emails{% endblock %}

{% block header_block %}
{% include 'tables/summary/header.html' %}
{% endblock %}

{% block html_block %}
<h3>Receiving test failure emails:</h3>
<p>Interested test owners can be notified of test failures by the automated
test lab in two ways:
<ol>
  <li>By registering with the ChromeOS test failure emailer to receive
  mail for test failures that match patterns of a category_regex and/or a
  test_name_regex. These failure emails then will be sent directly to the
  supplied @google.com email alias.</li>
  <li>By following the
  <b>
  <a href="https://groups.google.com/a/google.com/forum/#!forum/chromeos-automated-test-failures"
  target="_blank">Google Group</a>
  </b> that receives all test failure email
  from the ChromeOS test failure emailer.</li>
</ol>
To register an e-mail address with the ChromeOS test failure emailer, modify
the <i>resultmail</i> section of the
<i><b>
<a href="https://chromium.googlesource.com/chromiumos/third_party/autotest.git/+/master/site_utils/dashboard/dash_config.json"
target="_blank">site_utils/dashboard/dash_config.json</a>
</b></i> file in the autotest repo to create a registration entry.
The emailer registration can be configured to send email for only <b>one</b>
of the following conditions:
<ol>
  <li>a test in the selected suite <b>fails. [DEFAULT if not specified]</b></li>
  <li>a test changes state e.g. <b>passing->failing</b>,
      <b>failing->passing</b></li>
  <li>a test completes (most verbose)</li>
</ol>
</p>
{% endblock %}
