# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'hardware_Ath3k'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify Ath3k device and its driver presence.'
CRITERIA = 'Fails if USB device 0cf3:3002 or Ath3k module is missing.'
TIME='SHORT'
TEST_CATEGORY = 'Performance'
TEST_CLASS = 'Functional'
TEST_TYPE = 'client'

DOC = """
Looks first for USB device associated with the Ath3k Bluetooth controller and
then for its driver module (Ath3k).
"""

job.run_test('hardware_Ath3k')
