# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "system_PowerDraw"
TIME = "MEDIUM"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This is a system power draw test.
"""

from autotest_lib.client.common_lib import site_power_status


tag = 'PowerDraw'
seconds = 200


def run_power_draw():
    job.run_test('system_PowerDraw', seconds=seconds, tag=tag)


def run_sat():
    job.run_test('system_SAT', seconds=seconds, tag=tag)


def run_gpu():
    job.run_test('gl_Bench',
                 options='-t fill -t triangle -d %d' % seconds,
                 tag=tag)


job.parallel([run_power_draw], [run_sat], [run_gpu])
