# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "network_3GActivate"
PURPOSE = "Verify 3G modem can activate on the network."
CRITERIA = """
This test fails if the modem fails to transition from the factory
reset state to the activated state.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
  Tests that we can activate via flimflam using a software modem.

"""

job.run_test('network_3GActivate')
