# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "network_3GConnmanCromoCrashes"
PURPOSE = "Test that connman survives cromo crashing in a variety of ways."
CRITERIA = """
This test will fail if connman exits or fails to initialize any of the fake
modems the test presents.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
This test presents a mock modem and requires connman to drive it through the
correct series of state transitions. During each run, the modem will simulate a
failure (either raise an exception or fail to reply altogether); connman must
not crash or fail to initialize the next modem.
"""

job.run_test('network_ConnmanCromoCrash')
