# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "Nightly"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "server"

DOC = """
This test suite runs automated tests that should all pass and that, together
with the BuildVerify suite, verify that all major features in the build are
fully functional.  These are meant to run nightly in less than 8 hours.
"""


# Run server tests

# All client tests whose default parameters are adequate
TESTS = [
  'compilebench',
  'dbench',
  'desktopui_WindowManagerFocusNewWindows',
  'desktopui_WindowManagerHotkeys',
  'disktest',
  'firmware_VbootCrypto',
  'gl_Bench',
  'graphics_O3DSelenium',
  'graphics_WindowManagerGraphicsCapture', # TODO: promote to BVT if stable.
  'hardware_StorageFio',
# TODO: Until ltp can pass on chromiumos
#  'ltp',
  'platform_CleanShutdown',
  'platform_FileNum',
  'platform_FileSize',
  'login_CryptohomeMounted',
  'login_CryptohomeIncognitoMounted',
  'login_CryptohomeUnmounted',
  'realtimecomm_GTalkAudioBench',
  'realtimecomm_GTalkunittest',
  'unixbench',
]

def run_client_test(machine):
  client = hosts.create_host(machine)
  client_at = autotest.Autotest(client)
  # Run parameter-less simple client tests
  for test in TESTS:
    client_at.run_test(test)

  # Run jobs with specific parameters
  client_at.run_test('login_CryptohomeUnmounted',
                     is_incognito=True,
                     creds='$backdoor',
                     tag='incognito')

job.parallel_on_machines(run_client_test, machines)

if len(machines) > 1:
  job.run_control('server/tests/iperf/control.stress.srv')
  job.run_control('server/tests/netperf2/control.stress.srv')
  job.run_control('server/tests/netpipe/control.stress.srv')
