AUTHOR = "kdlucas@chromium.org (Kelly Lucas)"
DOC = "Verifies partitions are sized correctly."
NAME = "platform_PartitionCheck"
PURPOSE = "Verify size of main parition is correct."
CRITERIA = """
Fail if size of main partion is not equal to our reference size.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

job.run_test('platform_PartitionCheck')
