# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "login_SecondFactor"
PURPOSE = "Log in with a two-factor enabled account."
CRITERIA = "This test will succeed as long as a test account is able to login."
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "login"
TEST_TYPE = "client"

DOC = """
This test verifies that we correctly log users in,
even if their account has two-factor login enabled.
"""

job.run_test('login_SecondFactor')

