# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "network_LockedSIM"
PURPOSE = "Tests various operations on locked SIM cards."
CRITERIA = """
This test will fail if the card does not resume normal operation after a SIM
lock/unlock cycle.
"""

TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
Tests various operations on locked SIM cards.
"""

job.run_test('network_LockedSIM')
