# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
DOC = """
Runs a C program with two threads, with one thread allocating memory
at a fast (but throttled) rate, the other thread waiting for a low-memory
notification by polling /dev/chromeos-low-mem, and then freeing some memory.
Checks that the behavior of the threads is as expected.
"""
NAME = "kernel_LowMemNotify"
PURPOSE = "Checks that /dev/chromeos-low-mem reports low-memory conditions."
CRITERIA = """
Fails if /dev/chromeos-low-mem does not exist or does not behave as expected.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "kernel"
TEST_TYPE = "client"

job.run_test('kernel_LowMemNotify')
