# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "realtimecomm_GTalkAudioBench"
PURPOSE = "Measure Google Talk Plugin audio codec."
CRITERIA = "This test is a benchmark."
TIME = "LONG"
TEST_CATEGORY = "GTalk"
TEST_CLASS = "realtimecomm"
TEST_TYPE = "client"

DOC = """
This runs Google Talk Plugin audio codec benchmark
"""

job.run_test('realtimecomm_GTalkAudioBench')
