# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "power_LoadTest"
PURPOSE = "Measure power draw when system is under load."
CRITERIA = "This test is a benchmark."
TIME = "LONG"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "power"
TEST_TYPE = "client"

DOC = """
This test runs a load test consisting of cycling though web pages, playing
videos, etc. and measures battery power draw. The duration of this test is
determined by the seconds variable.


The following manual steps need to be performed on the device under test
before this test can be run:
  - make sure that Ethernet cable is disconnected and WiFi is connected
  - login to Chrome OS and open a terminal window (Ctrl-Alt-t)
  - run the following command to launch a new browser window:
    $ sudo su chronos -c "/opt/google/chrome/chrome --no-first-run"
  - in the newly opened browser window:
  - navigate to http://www.gmail.com. Logout if already logged in. Check the
    "Stay signed in" box and log in. If the yellow "Do you want Chromium to
    save password" bar comes up, click on "Save password"
  - navigate to http://www.facebook.com. Logout if already logged in. Check
    the "Keep me logged in" box and log in. If the yellow "Do you want
    Chromium to save password" bar comes up, click on "Save password".
  - close browser window
  - disconnect power cable

You are now ready to run the test.
"""

import time

loop_time = 3600
loop_count = 9

def run_audiovideo_V4L2():
    # TODO (snanda): Exit out of run_audiovideo_V4L2 earlier if
    # run_power_load_test completes earlier than loop_time * loop_count
    for i in range(loop_count):
        # enable webcam for 5% of the test time, 90% into the test
        run_time = loop_time * 0.05
        time.sleep(loop_time * 0.90)
        job.run_test('audiovideo_V4L2', time=run_time, run_capture_tests=False,
               run_default_capture_test=True, assert_mandatory_controls=False,
               tag=i)


def run_power_load_test():
    job.run_test('power_LoadTest', loop_time=loop_time, loop_count=loop_count,
                 low_battery_threshold=3)


job.parallel([run_audiovideo_V4L2], [run_power_load_test])
