# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "login_OwnershipTakenTelemetry"
PURPOSE = "Login and ensure that ownership of the device is taken."
CRITERIA = """
This test will succeed as long as a test account is able to log in, generate
and register an 'Owner' keypair.
"""
SUITE = "regression"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "login"
TEST_TYPE = "client"
EXPERIMENTAL = "True"
# TODO(achuith, dennisjeffrey): Replace login_OwnershipTaken with this
# once this test is promoted to non-experimental.

DOC = """
This test will log a test user in through the login manager, and then simulate
taking ownership of the device as the first user.
"""

job.run_test('login_OwnershipTakenTelemetry')

