# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "hardware_TouchScreenPresent"
PURPOSE = "Check whether we have a touch screen"
CRITERIA = """
Fails if the MaxTouch device is not in a group of its own or not present at all.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "hardware"
TEST_TYPE = "client"

DOC = """
Check if there is a touch screen that X knows about
"""

job.run_test('hardware_TouchScreenPresent')


