# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chromium OS Authors"
NAME = "platform_Pkcs11Persistence"
PURPOSE = "Tests PKCS#11 object persistence across logins."
CRITERIA = "Fails if a test key no longer exists on subsequent login."
SUITE = "regression"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This tests that PKCS#11 objects persist across logins.
"""

job.run_test('platform_Pkcs11Persistence')
