# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'pstew@chromium.org'
DOC = 'Verifies that the wireless driver is the expected revision.'
CRITERIA = 'Fails if wlan0/mlan0 has an unexpected driver release.'
NAME = 'network_WlanDriver'
PURPOSE = 'Ensure the detected Wlan has the correct associated kernel driver.'
TIME = 'SHORT'
TEST_CATEGORY = 'Functional'
TEST_CLASS = 'network'
TEST_TYPE = 'client'

job.run_test('network_WlanDriver')
