# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "factory_TPM"
SUITE = ""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "factory"
TEST_TYPE = "client"

DOC = """
Verifies that the TPM is correctly endorsed and attestation by this TPM will be
possible.

For this test to succeed the TPM must be enabled and either not owned or owned
using the normal flow which also collects endorsement data from the TPM before
discarding the owner password.  This test will take ownership of the TPM if it
is not already owned.  This test may be run repeatedly without reboot.
"""

job.run_test('factory_TPM', clear_tpm_owner=False)
