TIME="SHORT"
AUTHOR = "The Chromium OS Authors"
DOC = """
Tests that the last shutdown was clean (without errors).

NOTE: You need to shutdown or reboot the device at least once before running
this test for a given build or else the test is useless.
"""

NAME = ''
TEST_CLASS = "platform"
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

job.run_test('platform_CleanShutdown')
