# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "ChromeOS Team"
NAME = "VBOOT_CRYPTO_TEST"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "firmware"
TEST_TYPE = "client"

DOC = """
  Tests for correctness of Firmware Verified Boot Reference Implementation
  and its components, and benchmarks for crypto and verification performance.
"""

test_suites = [
    'crypto',  # RSA Signature Verification and SHA* Correctness.
    'verification',  # Firmware and Kernel Image Verification.
    'benchmarks',  # Crypto and Image Verification benchmarks.
    'rollback',  # Firmware/Kernel Rollback Prevention.
    'splicing',  # Image Splicing Attack.
]
for suite in test_suites:
  job.run_test('firmware_VbootCrypto', suite=suite, tag=suite)
