# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "platform_SessionManagerTerm"
PURPOSE = "Verify session_manager exits gracefully upon SIGTERM."
CRITERIA = "This test will fail if session_manager exits irregularly."
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This test SIGTERMs the session manager and checks that it exits cleanly."
"""

job.run_test('platform_SessionManagerTerm')
