# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "harpreet@chromium.org"
NAME = "enterprise_CFM_Perf"
PURPOSE = 'Records cpu, memory and temp data on hotrod device.'
TIME = "MEDIUM"
TEST_CATEGORY = "Performance"
TEST_CLASS = "hotrod"
TEST_TYPE = "client"

DOC = """
Test collects cpu, memory and temperature data from the device under test.
"""

job.run_test('enterprise_CFM_Perf')
