NAME = "network_netperf2"
AUTHOR = "Martin Bligh <mbligh@google.com>"
PURPOSE = "Benchmark network statistics."
CRITERIA = "This test is a benchmark."
TIME = "SHORT"
TEST_CATEGORY = "Performance"
TEST_CLASS = "network"
TEST_TYPE = "client"
DOC = """
TCP/UDP/sockets/etc performance benchmark.
See http://www.netperf.org/netperf/NetperfPage.html.
"""

job.run_test('network_netperf2',
             server_ip='172.22.68.247',
             )
