# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'graphics_TearTest'
AUTHOR = 'chromeos-gfx'
PURPOSE = 'Verify Chrome does not tear with veritcal synchronization.'
CRITERIA = """
This test will fail if there is tearing in the two vertical lines that are 
scrolling horizontally.
"""
TIME='MEDIUM'
TEST_CATEGORY = 'Functional'
TEST_CLASS = "graphics"
TEST_TYPE = 'client'
BUG_TEMPLATE = {
    'labels': ['Cr-OS-Kernel-Graphics'],
}

DOC = """
This is a semi-automated test that displays vertical lines scrolling
horizontally and asks the user if tearing was observed.  Three variants are
available:
  * using uniform update.  This tests that glSwapInterval function performs as
    expected.
  * using full texture update.  This tests that CPU-GPU interaction is properly
    synchronized in the driver.
  * using pixmap to texture extension.  This tests that pixmap to texture
    extension is properly synchronized.
"""

job.run_test('graphics_TearTest')
