# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'hardware_EepromWriteProtect'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify that the EEPROM is write-protected (read-only).'
CRITERIA = """
Fail if the write-protected section of EEPROM is not read-only.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "hardware"
TEST_TYPE = "client"

DOC = """
This test checks if the EPPROM write-protection status is configured as expected
"""

job.run_test('hardware_EepromWriteProtect')
