# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
NAME = "security_HciconfigDefaultSettings"
TIME = "SHORT"
AUTHOR = "chromeos-security@google.com"
DOC = """Runs hciconfig on host and compares results to expected results.
Assumes that test is being run on a fresh Chrome OS install so that
settings have not been modified"""
PURPOSE = """To verify that Bluetooth is off by default and that default
Bluetooth settings are correct"""
CRITERIA = """Bluetooth is off and when turned on, hciconfig returns settings
that match expected settings"""
SUITE = "security, smoke"
TEST_CLASS = "security"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"

job.run_test('security_HciconfigDefaultSettings')
