# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME='SHORT'
AUTHOR = 'The Chromium OS Authors'
DOC = """
Identify or probe for hardware components and match them against the approved
components database. Some components are identified first and then matched,
while some are probed based on the approved components database contents.
Note: to identify the card reader device, an SD card must be inserted into the
reader before running the test.
"""
NAME = 'hardware_Components'
TEST_CLASS = "hardware"
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

job.run_test('hardware_Components')
