# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_TouchScreen"
PURPOSE = "Replay some touch events and check how the browser sees them"
CRITERIA = """
This test will fail if any of the HTML/JS subtests report anything
other than 'PASS'.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This test replays raw touch screen events and checks how the browser
interprets them.

It spawns a web server thread, directs the browser to load a series of pages
from this server. Each page asks the server to replay a recording of raw touch
events and reports 'PASS' back to the server if it observed the
expected results.
"""

job.run_test('desktopui_TouchScreen', testfile="example.html",
                tag="example.html")
job.run_test('desktopui_TouchScreen', testfile="click.html",
                tag="click.html")
