# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'platform_MiniJailVfsNamespace'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify MiniJail is able to put a process in its own vfs namespace.'
CRITERiA = """
Fails if process from within the minijail vfs namespace can be seen from
outside of the minijail.
"""
TIME='SHORT'
TEST_CATEGORY = 'Security'
TEST_CLASS = 'platform'
TEST_TYPE = 'client'

DOC = """
This test checks that MiniJail puts the process in its own vfs namespace.
"""

job.run_test('platform_MiniJailVfsNamespace')
