# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "HWConfig"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "client"

DOC = """
This test suite runs automated hardware configuration checks. The purpose of
the suite is to sanity test all hardware components in less than 5 minutes.
"""

# RTC, system
job.run_test('metrics_Resume')

# RAM
job.run_test('memory_TotalSize')

# CPU
job.run_test('power_CPUFreq')
job.run_test('power_CPUIdle')

# SSD
job.run_test('storage_DiskSize')
job.run_test('storage_SsdDetection')

# CPU, RAM, SSD
job.run_test('system_SAT', seconds=20)

# Network
job.run_test('networking_DisableInterface',
             iface_name='wlan0', tag='wlan0')  # WiFi
job.run_test('networking_DisableInterface',
             iface_name='eth0', tag='eth0')  # Ethernet
job.run_test('networking_DisableInterface',
             iface_name='hci0', tag='hci0')  # Bluetooth
job.run_test('network_WiFiCaps')

# GPU
job.run_test('gl_Bench')
