# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.


AUTHOR = "Chrome OS Team"
NAME = "platform_Shutdown"
TIME = "SHORT"
TEST_CATEGORY = "Logging"
TEST_CLASS = "platform"
TEST_TYPE = "server"
SUITE = "bvt"

DOC = """
This test collects the shutdown metrics from a system that has rebooted.
"""


def run(machine):
    host = hosts.create_host(machine)
    job.run_test("platform_Shutdown", host=host)


parallel_simple(run, machines)