<link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
<div style="margin-top:10px;margin-bottom:10px;clear:both">
<span style="background-color:#32CD32;" class="legend">G</span> Good |
<span style="background-color:#FF4040;" class="legend">A</span> Aborted |
<span style="background-color:#FF4040;" class="legend">W</span> Warn |
<span style="background-color:#FF4040;" class="legend">F</span> Fail |
<span style="background-color:#FF4040;" class="legend">E</span> Error |
<span style="background-color:#E5E5C0;" class="legend">N</span> None
</div>
