# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "Sound System Validation"
AUTHOR = "Taylor Hutt"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
This tests that the sound infrastructure such as device and mixer names
are present when the system is running.
"""

job.run_test('sound_infrastructure', seconds = 60)
