# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chromium OS Project"
NAME = "firmware_FAFTClient"
PURPOSE = "Copy over the FAFT dependency."
CRITERIA = """
This test will fail if the FAFT dependency cannot be copied to the client.
"""
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "firmware"
TEST_TYPE = "client"

DOC = """
An empty test to pull the FAFT dependency over to the client device.
"""

job.run_test('firmware_FAFTClient')
