# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "system_SuspendResume"
TIME = "MEDIUM"
TEST_CATEGORY = "Functional"
TEST_CLASS = "system"
TEST_TYPE = "client"

DOC = """
This is a system stability test across suspend/resume cycles.
"""


def run_resume():
    job.run_test('metrics_Resume', iterations=10, itersleep=10,
                 tag='SuspendResume')


def run_sat():
    job.run_test('system_SAT', seconds=200, tag='SuspendResume')


job.parallel([run_resume], [run_sat])
