# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_FailedLogin"
PURPOSE = "Verify login will fail with invalid credentials."
CRITERIA = "Test will fail if login is successful."
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This tests that we fail on a login attempt with bad credentials  
"""

job.run_test('desktopui_FailedLogin', script='bad_creds.json')

