# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME = "SHORT"
AUTHOR = "The Chromium OS Authors"
DOC = """
Adds fake Bluetooth devices to the Chrome API and checks for successful
XSS
"""
NAME = "security_BluetoothUIXSS"
PURPOSE = "To verify that Bluetooth settings are protected from XSS"
CRITERIA = """
Adding Bluetooth devices with malicious names/addresses does not
result in successful XSS exploitation
"""
SUITE = "security"
TEST_CLASS = "security"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"

job.run_test('security_BluetoothUIXSS')
