# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'Chrome OS Team'
NAME = 'ml_CheckMlProcesses'
ATTRIBUTES = 'suite:ml_service'
TIME = 'SHORT'
TEST_TYPE = 'client'
JOB_RETRIES = 0

DOC = """
Verifies that the ml_service starts without error, as a test for regressions in
the minijail and seccomp policy configuration.
"""

ML_PROCESSES = ['ml_service']

job.run_test('platform_CheckCriticalProcesses', process_list=ML_PROCESSES)
