# Copyright 2014 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'wiley, avakulenko, keybuk'
NAME = 'privetd_CanConnectToWiFi'
TIME = 'SHORT'
TEST_TYPE = 'Server'
DEPENDENCIES = 'wificell'

DOC = """
This test verifies that when provided with WiFi credentials via privet APIs,
privetd can successfully give those credentials to shill.  Shill should then
be able to give those credentials to the ChromeOS Core WiFi stack, triggering
a connection to WiFi.
"""


def run(machine):
    job.run_test('privetd_CanConnectToWiFi',
                 host=hosts.create_host(machine),
                 raw_cmdline_args=args)


parallel_simple(run, machines)
