AUTHOR = "Chrome OS Team"
NAME = "hardware_KeyboardAssembly"
PURPOSE = "Verify that keyboard keys function properly."
CRITERIA = """
This test will fail if keys fail to respond when they are pressed and released.
This test will also fail if all keys have not been used within 50 seconds.
"""
TIME = "SHORT"
TEST_CATEGORY = "Factory"
TEST_CLASS = "hardware"
TEST_TYPE = "client"

DOC = """
This test will display a keyboard image and keys will be highlighted as
they are pressed and released. Once all keys have been used, a brief
'PASS' message will be displayed and the test will terminate.  After
the first key is hit, a countdown will begin.  If not all keys are
used in time, the test will fail with an 'ERROR' message that is
displayed forever (unless the 'hwqual' argument is passed in).
"""

restart_ui = False
if 'hwqual' in args:
    restart_ui = True

job.run_test('hardware_KeyboardAssembly', restart_ui=restart_ui)
