# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "Network"
TIME = "LONG"
TEST_CATEGORY = "Functional"
TEST_CLASS = "suite"
TEST_TYPE = "client"

DOC = """
This test suite runs cellular networking tests.
"""

job.run_test('network_3GSmokeTest')
job.run_test('network_3GStressEnable')
job.run_test('network_ConnmanCromoCrash')
job.run_test('network_3GSafetyDance')

###  Local Variables:
###  mode: python
###  End:
