# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'pstew, quiche, wiley'
NAME = 'network_CheckCriticalProcesses'
SUITE='bvt-cq, network_nightly'
TIME = 'SHORT'
TEST_TYPE = 'client'
JOB_RETRIES = 1

DOC = """
This test has a static list of process names that should be running
on any "good" ChromeOS image.  It fails if any of these are not
running at the time of the test.
"""

job.run_test('network_CheckCriticalProcesses')
