# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chromium OS Project"
NAME = "platform_RestictNewUserWhenDiskFull"
PURPOSE = "Verify a new user cannot log in when there is low disk space"
CRITERIA = """
This test will fail if a new user can log in after all free disk space is used
"""
TIME = "MEDIUM"
TEST_CATEGORY = "General"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This test fills what remains of free disk space and attempts to log in a new
user.
"""

job.run_test('platform_RestictNewUserWhenDiskFull')
