# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "graphics_O3DSelenium"
PURPOSE = 'Execute the O3D Selenium tests.'
CRITERIA = 'All suite tests must pass.'
TIME = "medium"
TEST_CATEGORY = "Functional"
TEST_CLASS = "graphics"
TEST_TYPE = "client"

DOC = """
This test runs the O3D Selenium tests.
"""

job.run_test('graphics_O3DSelenium')
