AUTHOR = "Chrome OS Team"
NAME = "network_DisableInterface"
PURPOSE = "Verify a network interface can be disabled."
CRITERIA = "Fails if the interface can not be disabled/reenabled."
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"

DOC = """
This test depends on the ifconfig utility to both disable and reenable a
network interface.
"""

job.run_test('network_DisableInterface', iface_name='wlan0', tag='wlan0')
job.run_test('network_DisableInterface', iface_name='eth0', tag='eth0')
job.run_test('network_DisableInterface', iface_name='hci0', tag='hci0')
