# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "harpreet"
NAME = "enterprise_LongevityTrackerServer"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "enterprise"
TEST_TYPE = "server"
ATTRIBUTES = "suite:longevity"
DEPENDENCIES = "chromesign"

DOC = """
This test enrolls ChromeOS device into kiosk mode and captures device usage data
including cpu, memory and temperature data and uploads it to Google Cloud as
part of the test logs
"""


def run_test(machine):
    host = hosts.create_host(machine)
    job.run_test('enterprise_LongevityTrackerServer', host=host)


parallel_simple(run_test, machines)
