# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "kernel_SchedCgroups"
PURPOSE = "Verify the functioning of scheduler cgroups."
CRITERIA = """
The test will fail if scheduler cgroups do not function correctly.
"""
TIME = "SHORT"
SUITE = "bvt, bvt_cq"
TEST_CATEGORY = "Functional"
TEST_CLASS = "kernel"
TEST_TYPE = "client"

DOC = """
This test tries to create a cgroup hierarchy and verifies division of CPU within
the hierarcy.
"""

job.run_test('kernel_SchedCgroups')
