# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = "hardware_TPMCheckS3"
AUTHOR = "The Chromium OS Authors"
PURPOSE = "Check of the TPM state after S3"
CRITERIA = "Check that the TPM is in the expected state after S3 Resume."
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "Hardware"
TEST_TYPE = "Client"

DOC = """
    A check of the state of the TPM (Trusted Platform Module) after S3 Resume
"""

job.run_test('hardware_TPMCheckS3')
