# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME="LONG"
AUTHOR = "The Chromium OS Authors"
DOC = """
Runs dbusfuzz on a specified remote machine.
"""
NAME = "security_DbusFuzzServer"
PURPOSE = "To look for vulnerabilities exploitable over DBus."
CRITERIA = """
Test passes if the fuzzer finds zero vulnerabilities.
"""
TEST_CLASS = "security"
TEST_CATEGORY = "Security"
TEST_TYPE = "server"
SUITE = "manual"

def run_dbusfuzz(machine):
    host = hosts.create_host(machine)
    job.run_test("security_DbusFuzzServer", host=host)

parallel_simple(run_dbusfuzz, machines)
