# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.client.common_lib import utils

AUTHOR = "Chrome OS Team"
NAME = "factory_Antenna"
SUITE = "factory"
TIME = "SHORT"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "factory"
TEST_TYPE = "client"

DOC = """
Factory test for antenna.

Required arguments:

    ena_host: Host or IP address for the ENA tester.
"""

job.run_test('factory_Antenna', **utils.args_to_dict(args))
