# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'platform_MiniJailRootCapabilities'
AUTHOR = 'The Chromium OS Authors'
PURPOSE = 'Verify that MiniJail --use-capabilities works properly.'
CRITERIA = """
Fails if minijail --use-capabilities option returns non successfully.
"""
TIME='SHORT'
TEST_CATEGORY = 'Security'
TEST_CLASS = 'platform'
TEST_TYPE = 'client'

DOC = """
This test checks that MiniJail removes process capabilities.
"""

job.run_test('platform_MiniJailRootCapabilities')
