# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "WebRTC Team"
NAME = "desktopui_WebRTC"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"
SUITE = "webrtc"
DEPENDENCIES = "webcam"
RETRIES=5

DOC = """
Run the pyauto WebRTC test suite.
"""

job.run_test('desktopui_WebRTC')
