# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_ChromeSemiAuto"
PURPOSE = "Tests user interaction with Chrome."
CRITERIA = "This test will fail if no user action occurs before it times out."
TIME = "SHORT"
TEST_CATEGORY = "DesktopUI"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This is an example test which shows how to do user interaction through the
Chromium browser.
"""

job.run_test('desktopui_ChromeSemiAuto')
