# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "chromeperf_PGOPageCycler"
PURPOSE = "Produce profile of normal browsing for optimization."
SUITE = "PGO_record"
TIME = "LONG"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "pgo"
TEST_TYPE = "server"

DOC = """
This test uses the client-side PyAutoPerfTests test to collect run time
profiling optimization metrics.
"""

def run_pgopagecycler(machine):
    host = hosts.create_host(machine)
    job.run_test("chromeperf_PGOPageCycler", host=host, args=args,
                 disable_sysinfo=True)

parallel_simple(run_pgopagecycler, machines)
