NAME = "platform_LowMemoryTest"
PURPOSE = "Tab discarding functional tests."
CRITERIA = """Failed if oom-kill is invoked."""
ATTRIBUTES = "suite:crosbolt_perf_perbuild"
AUTHOR="Vovo Yang"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"
DOC = """
This is a low memory policy functional test. It creates several web page
with random javascript data. It failed if oom-killer is invoked before
tab discarding.
"""

job.run_test('platform_LowMemoryTest')
