# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "The Chromium OS Authors"
NAME = "platform_ProcessPrivilegesComprehensive"
PURPOSE = "Comprehensively validate privileges of all running processes."
CRITERIA = """
Fail if we find unexpected process privileges.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This test checks every process on the system against a baseline of
expected findings. It flags processes we didn't expect to find at all,
missing processes that we did expect, and, processes running with the
wrong privilege.
"""

job.run_test('platform_ProcessPrivilegesComprehensive')
