# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'GL_BENCHMARK'
AUTHOR = 'The Chromium OS Authors'
TIME='MEDIUM'
TEST_CATEGORY = 'Performance'
TEST_CLASS = 'Hardware'
TEST_TYPE = 'client'

DOC = """
This test tests graphics library performance.
"""

job.run_test('gl_Bench')
