# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

from autotest_lib.client.common_lib import utils

AUTHOR = "Chrome OS Team"
NAME = "factory_Wifi"
SUITE = "factory"
TIME = "SHORT"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "factory"
TEST_TYPE = "client"

DOC = """
Configures the wireless interface to continuously transmit on various
channels, measuring average and peak power.

Required arguments:

    n4010a_host: Host or IP address for the N4010A tester.

Optional arguments:

    config_path: Path to a configuration file containing the test info
        and thresholds.  The test will wait up to 30 seconds for this
        file to become available (e.g., if it is on a USB stick).
        The file should contain a string that evaluates to a Python
        object whose format is the same as the DEFAULT_CONFIG variable
        in factory_Wifi.py (see that file for documentation).
"""

job.run_test('factory_Wifi', **utils.args_to_dict(args))
