# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Project"
NAME = "network_WiFiDownloads"
PURPOSE = "Establishes a connection to a wireless network and download files."
CRITERIA = """
This test will fail if it cannot connect to a wireless network and
download files.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"
DOC = """
This test assumes access to the server 172.22.12.253:80. If the server is
passed a filname in the format <integer>.lf, it will generate a file of
size <integer> in KB. In addition the name of the file returned is the
md5 checksum of that file.
"""

job.run_test('network_WiFiDownloads', ssid='GoogleGuest',
             ssid_visible=True, wifi_security='SECURITY_NONE',
             wifi_password='')
