# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME="SHORT"
AUTHOR = "The Chromium OS Authors"
DOC = """
Enforces a whitelist of known Browser Extensions (.crx's) bundled with the OS
"""
NAME = "security_BundledCRXs"
PURPOSE = "To ensure un-vetted extensions do not ship in OS"
CRITERIA = """
Fail if the list of bundled CRX's doesn't match the baseline
"""
TEST_CLASS = "security"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"

job.run_test("security_BundledCRXs")
