# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'chromeos-gfx'
NAME = "graphics_WebGLConformance"
PURPOSE = "Execute the WebGL conformance test suite."
CRITERIA = "All suite tests must pass."
SUITE = "graphics_per-build"
TIME = "medium"
TEST_CATEGORY = "Functional"
TEST_CLASS = "graphics"
TEST_TYPE = "client"

DOC = """
This test runs the WebGL conformance tests.
"""

job.run_test('graphics_WebGLConformance')
