# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Project"
NAME = "network_WiFiSimpleConnection"
PURPOSE = "Establishes a connection to a wireless network."
CRITERIA = """
This test will fail if it cannot connect to a wireless network and navigate
to www.msn.com.
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "network"
TEST_TYPE = "client"
DOC = """
This test connects to a wireless network and navigates to www.msn.com
"""

job.run_test('network_WiFiSimpleConnection', ssid='GoogleGuest',
             ssid_visible=True, wifi_security='SECURITY_NONE',
             wifi_password='')
