# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Project, chromeos-video@google.com"
NAME = "video_WebRtcPerf"
PURPOSE = "Make sure WebRTC is hardware decode accelerated."
CRITERIA = "Fails if hardware decode acceleration is not used."
SUITE = "performance"
TIME = "SHORT"
TEST_CATEGORY = "Performance"
TEST_CLASS = "video"
TEST_TYPE = "client"
DEPENDENCIES = "hw_video_acc_vp8"
BUG_TEMPLATE = {
    "labels": ["OS-Chrome", "Cr-OS-Kernel-Video"],
}

DOC = """
This test runs WebRTC loopback in a tab, checks the histograms, and fails if
hardware decode acceleration is not used. The test also outputs video decode
time to the performance dashboard.
"""

job.run_test("video_WebRtcPerf",
             run_hardware_acceleration_only=True,
             decode_time_test=True,
             cpu_test=False,
             power_test=False)
