# Copyright (c) 2009 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'MEMORY_THROUGHPUT'
AUTHOR = 'The Chromium OS Authors'
TIME='MEDIUM'
TEST_CATEGORY = 'Performance'
TEST_CLASS = 'Hardware'
TEST_TYPE = 'client'

DOC = """
This test tests memory throughput in both sequential access mode and random
access mode.
"""

job.run_test('memory_Throughput', num_iteration=5000, test_list='18 19 20 21')
