# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'NVMap IOVMM Stress Tool'
AUTHOR = 'NVIDIA'
PURPOSE = 'This test stresses nvmap through repeated GART allocations.'
CRITERIA = """
This test passes if no errors occur during the test run.
"""
TIME='MEDIUM'
TEST_CATEGORY = 'Performance'
TEST_CLASS = "kernel"
TEST_TYPE = 'client'

DOC = """
This test runs multiple instances of the nvmap_iovmm_stress in parallel to
put stress on nvmap by causing repeated re-allocations and re-pinning
GART allocations.
"""

job.run_test('kernel_NVMapIovmmStress');
