# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "The Chromium OS Authors"
NAME = "Check process privileges"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This test checks process privileges - whether processes are running as root/
super-user, and/or whether they are running as the specified user.
"""

test_name = 'platform_ProcessPrivileges'
for process_name in ['X', 'chrome']:
    job.run_test(test_name, tag=process_name, process=process_name)

# Check if IBus (I18N input method) daemons are started when a user logs in.
for process_name in ['ibus-daemon', 'ibus-x11', 'ibus-gconf',
                     'candidate_window']:
     job.run_test(test_name, tag=process_name, process=process_name,
                  user='chronos', do_login=True)
