# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "The Chromium OS Authors"
NAME = "Check process privileges"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "platform"
TEST_TYPE = "client"

DOC = """
This test checks process privileges - whether processes are running as root/
super-user, and/or whether they are running as the specified user.
"""

test_name = 'platform_ProcessPrivileges'
process_tests = [
  {'process': 'candidate_window', 'user': 'chronos', 'do_login': True},
  {'process': 'chrome'},
  {'process': 'dbus-daemon', 'user': 'chronos', 'do_login': True, 'any': True},
  # TODO(mazda): Change the user value to 'messagebus'.
  # 201 is a uid of messagebus. ps command displays 201 as the user name for
  # some reasons (bug of the ps command?).
  {'process': 'dbus-daemon', 'user': '201', 'any': True},
  {'process': 'ibus-daemon', 'user': 'chronos', 'do_login': True},
  {'process': 'ibus-memconf', 'user': 'chronos', 'do_login': True},
  {'process': 'ibus-x11', 'user': 'chronos', 'do_login': True},
  # TODO(yusukes): Change 'run_as_root' to False once super-user privileges for
  # X are dropped.
  {'process': 'X', 'run_as_root': True},
]

for i, process_test in enumerate(process_tests):
  job.run_test(test_name, tag="%s_%d" % (process_test['process'], i),
               **process_test)
