# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "login_CryptohomeIncognitoMounted"
SUITE = "bvt, kaen_bvt, smoke"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "login"
TEST_TYPE = "client"
RETRIES = 5

DOC = """
This test checks that, after logging in incognito, a cryptohome was mounted on
 tmpfs.
"""

job.run_test('login_CryptohomeIncognitoMounted')
