# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_SunSpiderBench"
PURPOSE = "Measure the performance of Chrome's JavaScript."
CRITERIA = "This test is a benchmark."
TIME = "SHORT"
TEST_CATEGORY = "Benchmark"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This test includes:
  - generating a tagcloud from JSON input
  - measuring a 3D raytracer
  - cryptography tests
  - code decompression
  - a few microbenchmarks

Multiple tests are run to attempt to filter out noise and compute a confidence
level. Additionally a comparison mode will evaluate if you have enough data
to determine if differences are statistically significant.
"""

job.run_test('desktopui_SunSpiderBench')
