# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME="SHORT"
AUTHOR = "The Chromium OS Authors"
DOC = """
Tests htpdate's robustness when dealing with poorly formed HTTP responses.
"""
NAME = "security_HtpdateHTTP"
PURPOSE = "Guard against regression in htpdate's handling of certain responses"
CRITERIA = """
Fail if any of the malformed HTTP response cases crash htpdate.
"""
SUITE = "bvt, smoke"
TEST_CLASS = "security"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"

job.run_test("security_HtpdateHTTP")
