# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_ImeLogin"
PURPOSE = "Verify IME is functioning properly on the login screen."
CRITERIA = """
This test will fail under any of the following conditions:
 - the keyboard layout stays unchanged after a non english language
   gets selected in the language selection menu
 - the key for '@' in us layout does not give '"' in japanese layout
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This test checks whether the input system is working properly in the
login screen.
"""

job.run_test('desktopui_ImeLogin')
