# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'wiley@chromium.org'
NAME = 'network_DestinationVerification'
PURPOSE = 'Verify that the shill crypto-util shim operates correctly.'
CRITERIA = """
This test fails if crypto-util is unable to verify a valid destination
certificate or validates an invalid certificate.  This checks the ways
that crypto-util interacts with OpenSSL and verifies that we're expecting
the correct key/certificate formats.
"""
SUITE = 'network_nightly'
TIME = 'SHORT'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

DOC = """
  Tests that we can validate a destination by its certificate.

"""

job.run_test('network_DestinationVerification')
