# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "CHROME_FIRST_RENDER"
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "system"
TEST_TYPE = "client"

DOC = """
This is a metrics test that collects the time it takes for Chrome to render its
first page after login is successful
"""

job.run_test('system_ChromeFirstRender')
