# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chromium OS Project"
NAME = "test_Recall"
PURPOSE = "Verify the Recall client-side helper"
CRITERIA = """
This test will succeed as long as the RecallServer class adjusts the
default route and DNS server of the client, and installs a root
certificate.
"""
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "test"
TEST_TYPE = "client"

DOC = """
This is a test to verify the autotest infrastructure for supporting
Recall. It's implemented as a client test and not as a unit test because
the RecallServer class makes changes to the system it's running on, and
we don't want that to happen to the buildbots/your desktop.
"""

job.run_test('test_Recall')
