# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

TIME = "SHORT"
AUTHOR = "The Chromium OS Authors"
DOC = "TPM daemon functional tests"
NAME = "security_Tpmd"
PURPOSE = "Test functionality of tpmd"
CRITERIA = "Fails if tpmd doesn't work"
SUITE = "security"
TEST_CLASS = "security"
TEST_CATEGORY = "Functional"
TEST_TYPE = "client"

job.run_test("security_Tpmd")
