# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chromium OS Project"
NAME = "desktopui_PyAutoInstall"
PURPOSE = "Copy over the PyAuto dependency."
CRITERIA = """
This test will fail if the PyAuto dependency cannot be copied to the client.
"""
TIME = "SHORT"
TEST_CATEGORY = "General"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
An empty test to pull the PyAuto dependency over to the client device.
"""

job.run_test('desktopui_PyAutoInstall', auto_login=False)
