# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

NAME = 'FACTORY_FAIL'
AUTHOR = 'The Chromium OS Authors'
TIME='SHORT'
TEST_CATEGORY = 'Stub'
TEST_CLASS = 'factory'
TEST_TYPE = 'client'

DOC = """
This test just always fails.
"""

job.run_test('factory_Fail')
