# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "desktopui_IBusTest"
PURPOSE = "Verify IBus is functioning properly."
CRITERIA = """
This test will fail under any of the following conditions:
  - The IBus daemon is not running
  - A supported engine is not found
  - The configuration cannot be updated
"""
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "desktopui"
TEST_TYPE = "client"

DOC = """
This test checks whether IBus is working properly.
"""

job.run_test('desktopui_IBusTest')
