# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'The Chromium OS Authors'
NAME = 'AUDIOVIDEO_V4L2'
TIME='MEDIUM'
TEST_CATEGORY = 'V4L2'
TEST_CLASS = "audiovideo"
TEST_TYPE = 'client'

DOC = """
This test exercises v4l2 camera devices.
"""

job.run_test('audiovideo_V4L2')
