# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'Chromium OS team'
NAME = 'tast_Runner.example'
TIME = 'MEDIUM'
TEST_TYPE = 'Server'

# The tast executable and server test bundle are currently installed via prod
# pushes rather than SSP, but leaving REQUIRE_SSP enabled at least makes it
# possible to test changes to tast_Runner via tryjobs and to deploy changes to
# it without waiting for prod pushes.

DOC = '''
Run example Tast tests.

Tast is an integration-testing framework analagous to the test-running portion
of Autotest. See https://chromium.googlesource.com/chromiumos/platform/tast/ for
more information.

This test runs all example Tast tests.
'''

def run(machine):
    job.run_test('tast_Runner',
                 host=hosts.create_host(machine),
                 test_exprs=['example.*'],
                 report_tests=True)

parallel_simple(run, machines)
