# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = 'Chromium OS team'
NAME = 'tast_Runner.example'
TIME = 'MEDIUM'
TEST_TYPE = 'Server'

# Disable server-side packaging, which incurs additional setup overhead and
# causes tests to run within containers that don't automatically have access to
# the required Tast-related files in /opt/infra-tools.
REQUIRE_SSP = False

DOC = '''
Run example Tast tests.

Tast is an integration-testing framework analagous to the test-running portion
of Autotest. See https://chromium.googlesource.com/chromiumos/platform/tast/ for
more information.

This test runs all example Tast tests.
'''

def run(machine):
    job.run_test('tast_Runner',
                 host=hosts.create_host(machine),
                 test_exprs=['example.*'],
                 report_tests=True)

parallel_simple(run, machines)
